error_message.txt
gemini_project_log.txt
/alembic
alembic.ini
*.db
*.sublime-project
*.pyc
*.sublime-workspace
data_permission.txt

docker-compose.yml
Dockerfile.backend
Dockerfile.frontend
.dockerignore