version: '3.10'

services:
  backend:
    image: theo1024/remote-file-access-backend:latest
    container_name: rfa-backend
    ports:
      - "5040:5042"
    volumes:
      - ./config:/app/config
      - "C:/Users/79247/Desktop/Theo/ftp:/app/ftp"
    restart: unless-stopped
    # command: python app.py run

  frontend:
    image: theo1024/remote-file-access-frontend:latest
    container_name: rfa-frontend
    ports:
      - "5000:5001"
    volumes: 
      - ./.streamlit:/app/.streamlit
    depends_on:
      - backend
    restart: unless-stopped
    # command: streamlit run ui.py --server.port 5001 --server.baseUrlPath /home --server.enableCORS false --server.enableXsrfProtection false
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    command: --interval 60 --cleanup --debug
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock   # Windows Docker Desktop 專用寫法
    environment:
      - WATCHTOWER_INCLUDE_STOPPED=false
      - WATCHTOWER_MONITOR_ONLY=false